@import url(/css/reset.css);
body {
    background-color: black;
}

p {
    color: white;
}
h2 {
    font-size: 34px;
    color: #33A8DB;
    text-transform: uppercase;
    margin-bottom: 26px;
    letter-spacing: 5px;
    font-weight: bold;
}

section {
    margin: 100px auto;
}

.banner {
    background-image: linear-gradient(rgba(0,0,0,0.6), rgba(36, 157, 209, 0.3),rgba(0,0,0,0.6)), url(/assets/images/banner.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 605px;
    padding-top: 60px;
    border-bottom: 2px solid #33A8DB80;
}

.banner-content {
    color: white;
    width: 600px;
    margin: auto;
    text-align: center;
}

.banner h1 {
    font-size: 42px;
    font-weight: 900;
    line-height: 46px;
    background: -webkit-linear-gradient(#33A8DB, #1472b7, #5657FF);
    background-clip: text;
    -webkit-background-clip: text;
    text-transform: uppercase;
    color: transparent;
}

.banner p {
    font-size: 20px;
    margin: 16px 0 24px;
}

.banner .logo {
    background: rgba(0, 0, 0, 0.2);
    width: 268px;
    height: 268px;
    left: 121px;
    margin: auto;
    border-radius: 50%;
    padding: 16px;
    margin-bottom: 16px;
}

.banner .logo img {
    margin: auto;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.banner .banner-content button {
    color: #32aade;
    font-size: 16px;
    letter-spacing: 4px;
    font-weight: bold;
    padding: 16px 32px;
    text-transform: uppercase;
    background-color: transparent;
    border: 2px solid;
    border-radius: 20px;
    border-image: linear-gradient(#484ab6,#6a1abf,rgb(109, 109, 224) );
    border-image-slice: 20;
}

#course-content {
    width: 800px;
    height: 350px;
    text-align: center;
}
#course-content p {
    line-height: 25px;
}
#course-content h2 {
    line-height: 25px;
    text-transform: uppercase;
    background: -webkit-linear-gradient(#37ade0, #1572b5, #5657FF);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;    
}

.module-list {
    margin: 24px 0;
}
.module {
    color: white;
    width: 530px;
    margin: 25px auto 24px;
    border: 2px solid #33A8DB;
    background-color: #252525;
    padding: 16px;
    border-radius: 100px;
    box-shadow: inset -5px 6px 8px rgba(0,0,0,0.7);
}

.module span {
    color: #33A8DB;
}

#transform-world {
    align-content: right;
    height: 400px;
    background-size: cover;
    background-image: url("/assets/images/woman-code.png");
    background-attachment: fixed;
    border-top: 2px solid #33A8DB80;
    border-bottom: 2px solid #33A8DB80;
    padding: 120px;
}

#transform-world p {
    font-weight: 900;
    width: 300px;
    height: 250px;
    left: 250px;
    font: #33A8DB80;
    font-weight: 900;
    font-size: 40px;
    text-transform: lowercase;
    max-width: 250px;
    text-shadow: 3px 3px #33A8DB;
    text-align: left;
    line-height: 46px;
    

}

#professional-challenges {
    text-align: center;
    width: 800px;
}

#professional-challenges img {
    margin: 32px 0;
    width: 659px;
    height: 390px;
    top: 1685px;
    left: 390px;
    gap: 0px;
    opacity: 0px;

}

#professional-challenges p {
    line-height: 20px;
}
#professional-challenges h2 {
    line-height: 40px;
    text-transform: uppercase;
    background: -webkit-linear-gradient(#37ade0, #1572b5, #5657FF);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

footer {
    padding: 60px 0;
    text-align: center;
    background-image: linear-gradient(rgba(50, 168, 219, .0), rgba(50, 168, 219, .2));
    border-top: 2px solid #33A8DB80;
}
  
.dio-logo {
    width: 270px;
}
  
footer a {
    color: #33A8DB;
    font-weight: bold;
    text-decoration: none;
}